.teamdetails {
  background: #ffffff;
  border-radius: 16px;
  padding: 18px;
}

.teamdetails__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.teamdetails__top img {
  cursor: pointer;
  height: 25px;
  width: 25px;
}
.teamdetails__top button {
  color: #313131;
  font-family: "RF Dewi";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 32px;
  height: 25px;
  padding: 4px 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.teamdetails__soc-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #f5f5f5;
}
.teamdetails__socicons {
  display: flex;
  gap: 8px;
  padding-top: 12px;
}
.teamdetails__socicons img:hover {
  cursor: pointer;
}
.teamdetails__info h3 {
  color: #313131;
  font-family: "RF Dewi";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
}
.teamdetails__info p {
  color: #313131;
  font-family: "RF Dewi";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}
.teamdetails__img img {
  height: 108px;
  border-radius: 8px;
}
.teamdetails__form input {
  border: none;
  outline: none;
  font-size: 14px;
  background: #f5f5f5;
  padding: 6px;
  height: 50px;
  border-radius: 5px;
  margin: 8px 0;
}
