.general__wrapper {
  padding: 20px;
  overflow-y: scroll;
  height: 84vh;
}
.general__top h2 {
  color: #313131;
  font-family: "RF Dewi";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
}
.general__info-badge {
  background: #1c54fc;
  display: inline-block;
  border-radius: 14px;
  color: #ffffff;
  padding: 16px 36px;
}
.general__info-badge p {
  font-family: "RF Dewi";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}
.general__info-badge h3 {
  font-family: "RF Dewi";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
}
.general__exp-btns p {
  color: #313131;
  font-family: "RF Dewi";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  margin-top: 32px;
}
.general__exp-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.general__add-exp {
  background: #f5415f;
  box-shadow: inset 0px 0px 0.812647px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: #ffffff;
  font-family: "RF Dewi";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  border: none;
  outline: none;
  padding: 4px 12px;
  cursor: pointer;
  margin-top: 36px;
}
.general__btn-inc {
  background: #1c54fc;
  box-shadow: inset 0px 0px 0.812647px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: #ffffff;
  font-family: "RF Dewi";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  border: none;
  outline: none;
  padding: 4px 12px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 36px;
}
.general__date-info {
  margin-top: 16px;
}
.general__year {
  display: flex;
  gap: 14px;
  margin-bottom: 12px;
}

.generalitem__wrapper button {
  background: #f5f5f5;
  box-shadow: inset 0px 0px 0.726924px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: none;
  outline: none;
  color: #313131;
  font-family: "RF Dewi";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  height: 22px;
  padding: 2px 16px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.generalitem__wrapper button:hover {
  background: #1c54fc;
  box-shadow: inset 0px 0px 0.726924px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

.generalitem__wrapper .active {
  background: #1c54fc;
  box-shadow: inset 0px 0px 0.726924px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

.general__month {
  display: grid;
  margin-bottom: 12px;
  padding: 6px 0;
  gap: 12px;
  grid-template-columns: repeat(7, 2fr);
}
.general__expi {
  display: flex;
  gap: 14px;
  margin-bottom: 32px;
}
.generaldata__table {
  display: flex;
  width: 100%;

  align-items: center;
  margin-bottom: 12px;
}
.generaldata__table-day {
  margin: 0;
  padding: 0;
}
.generaldata__table-day {
  width: 30px;
  margin-right: 16px;
  text-transform: capitalize;
}
.generaldata__table-info {
  display: flex;
  background: #f5f5f5;
  box-shadow: inset 0px 0px 0.6468px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  width: 160px;
  position: relative;
}

.generaldata__table-day p {
  line-height: 18px;
  color: #595959;
  font-family: "RF Dewi";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
.general__data-title {
  color: #313131;
  font-family: "RF Dewi";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-transform: capitalize;
}
.general__data-budget {
  color: #1c54fc;
  font-family: "RF Dewi";
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
}
.generaldata__wrapper p {
  line-height: 18px;
  padding-left: 6px;
}

.general__data-time {
  color: #313131;
  font-family: "RF Dewi";
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  position: absolute;
  right: 5px;
  bottom: 2px;
}
