.budgeting {
  background: #ffffff;
  height: 250px;
  padding: 18px;
  border-radius: 16px;
}

.budgeting__top h2 {
  font-family: "RF Dewi Bold";
  font-weight: 900;
  color: #313131;
  font-size: 29px;
  padding-bottom: 6px;
}
.budgeting__balnce {
  background: #f5f5f5;
  border-radius: 8px;
  text-align: center;
  padding: 2px 0;
}
.budgeting__balnce p {
  font-family: "RF Dewi";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.budgeting__balnce h3 {
  font-family: "RF Dewi";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}
.budgeting__list h3 {
  font-family: "RF Dewi";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  padding: 5px 0;
}
.budgetitem__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
}
.budgetitem__name {
  display: flex;
  align-items: center;
}
.budgetitem__name p {
  color: #313131;
  font-family: "RF Dewi";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.budgetitem__name .budgetitem__job {
  color: #9d9d9d;
}
.budgetitem__money p {
  font-family: "RF Dewi";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
.budgetitem__info {
  padding-left: 6px;
}
.budgeting__info {
  overflow-y: scroll;
  height: 76px;
  padding-right: 8px;
}

.budgeting__info::-webkit-scrollbar {
  background: transparent;
  width: 5px;
  height: 7px;
}
.budgeting__info::-webkit-scrollbar-thumb {
  background: #e4e4e4;
  border-radius: 5px;
}
