.Edit__wrapper {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.edit__info h2 {
  font-family: "RF Dewi";
  font-style: normal;
  font-size: 42px;
}
.Edit__wrapper input{
    background-color: #e8e8e8;
    width: 35vw;
}
.Edit__wrapper p {
  font-family: "RF Dewi";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
 padding-bottom: 10px;
}

